.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-family: "Spartan", sans-serif;
}
.header {
  background-color: hsl(180, 29%, 50%);
}
.header img {
  width: 100%;
  background-repeat: repeat;
}
main {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.job-listing {
  display: block;
  margin-top: 100px;
}
.job {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 20px;
}
.job-description {
  width: 80%;
}
.job-description,
.job-tags {
  display: flex;
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.job-tags-name {
  display: flex;
  align-items: center;
}
.job-name {
  margin-left: 25px;
}
.deadline {
  display: flex;
  justify-content: space-between;
}
.job-duration {
  display: flex;
}
.job-du {
  justify-content: space-between;
  margin-left: 20px;
}
.company-name,
.job-du {
  color: hsl(180, 8%, 52%);
  font-weight: 500;
}
.job-position {
  margin: 15px 0px;
  font-size: 18px;
}
.no-style {
  margin-left: 0px;
  list-style: none;
}
.tag-container {
  display: flex;
  list-style-type: none;
  align-items: center;
}
.tag-list {
  margin-left: 20px;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 13px;
  padding: 0.8rem 1rem;
  border-radius: 2px;
  vertical-align: middle;
}
.tag-list:hover {
  background-color: hsl(180, 8%, 52%);
  color: white;
  cursor: pointer;
}
.featured {
  border-left: 5px solid hsl(180, 8%, 52%);
}
.featured-tag {
  border: 1px solid black;
  background-color: hsl(180, 14%, 20%);
  color: white;
  padding: 8px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
}
.new-tag {
  border: 1px solid hsl(180, 8%, 52%);
  background-color: hsl(180, 8%, 52%);
  color: white;
  padding: 8px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
  margin-left: 10px;
}
.company-logo {
  height: 80%;
}
.search-bar {
  position: absolute;
  width: 80%;
  top: 22%;
  background-color: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  bottom: 10%;
  margin-bottom: 20px;
  height: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-container {
  display: flex;
  height: 100%;
  align-items: center;
}
.search-tag {
  margin-left: 10px;
  display: flex;
  align-items: center;
  border: 1px solid hsl(180, 31%, 95%);
}
.tag-names {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  padding: 5px;
}
.delete-tag {
  padding: 5px;
  background-color: hsl(180, 8%, 52%);
  color: white;
  align-items: center;
}
.clear-search {
  padding-right: 15px;
}
.hidden {
  display: none;
}
